<configuration>
    <packageSources>
        <clear />
        <add key="dotnet6" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet6/nuget/v3/index.json" />
        <add key="dotnet7" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet7/nuget/v3/index.json" />
        <add key="linqdynamic" value="https://www.myget.org/F/system-linq-dynamic-core/api/v3/index.json" />
    </packageSources>
    <packageSourceMapping>
        <packageSource key="dotnet6">
            <package pattern="System.ComponentModel.Annotations" />
        </packageSource>
        <packageSource key="dotnet7">
            <package pattern="*" />
        </packageSource>
        <packageSource key="linqdynamic">
            <package pattern="System.Linq.Dynamic.Core" />
        </packageSource>
    </packageSourceMapping>
</configuration>